.app {
  button {
    margin: 4px;
  }

  header, main, .header {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  main {
    min-height: 100vh;
  }

  .card {
    border: 1px solid #000;
    display: inline-block;
  }

  .icon-rating {
    height: 16px;
  }

  .title {
    color: #35495e;
    display: block;
    font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
    font-weight: 300;
    font-size: 42px;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .links {
    padding-top: 15px;
  }
}
